# Install aarch64 packages in a separate LOCALBASE.
LOCALBASE=/usr/local64

# Use programs from bin and sbin in LOCALBASE.
PATH=/sbin:/bin:/usr/sbin:/usr/bin:${LOCALBASE}/sbin:${LOCALBASE}/bin
.export PATH
